@font-face {
    font-family: 'Hello Day';
    src: url('../font/HelloDay-Regular.eot');
    src: url('../font/HelloDay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/HelloDay-Regular.woff2') format('woff2'),
        url('../font/HelloDay-Regular.woff') format('woff'),
        url('../font/HelloDay-Regular.ttf') format('truetype'),
        url('../font/HelloDay-Regular.svg#HelloDay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*{
	margin: 0;
}

.btn-xanh{
	background-color: #16A085;
	border-radius: 3px;
	border: none;

	color: white;
	font-weight: bold;
}

.btn-trang{
	background-color: white;
	border-radius: 5px;
	border: solid #16A085;

	color: #16A085;
	font-weight: bold;
}

.btn-hong{
	border-radius: 60px;
	background-color: #FBC7CA;
	border: none;
	box-shadow: 5px 5px 5px #999999;

	color: #BF0000;
	font-size: 22px;
	font-weight: bold;
}
.btn-soluong{
	width: 25px;
	height: 25px;
	text-align: center;

	padding-bottom: 3px;
}


.input-trang{
	border-radius: 50px;
	box-shadow: 5px 5px 5px #999999;
	padding-left: 30px;
}
.input-soluong{
	width: 25px;
	height: 25px;
	border-radius: 3px;
	border: solid #6666;
	text-align: center;
}

.text-xanh{
	color: #16A085;
	font-weight: bold;
}
.text-dendam{
	font-weight: bold;
}
